/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#main-title {
    color: #3366cc;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    background-color: #e0e0e0;
}

.content-box {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.styled-image {
    width: 300px;
    display: block;
    margin: 20px auto;
    border: 5px solid #3366cc;
    border-radius: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #e0e0e0;
  margin-top:20px;
}
